In [2]:
import pandas as pd
data = pd.read_csv("csvData/bostonhousing.csv")

In [3]:
data.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000
mean,3.546267,12.609649,10.482763,0.076754,0.548866,6.307235,67.666228,3.917517,8.752193,388.614035,18.274123,356.737763,12.413224,22.941009
std,8.955170,24.247964,6.732356,0.266494,0.119362,0.722355,28.947515,2.176790,8.213497,158.914796,2.201006,91.134607,7.308692,9.493109
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.074383,0.000000,4.930000,0.000000,0.447000,5.887750,41.950000,2.051000,4.000000,277.000000,16.800000,375.997500,6.672500,17.100000
50%,0.223505,0.000000,8.140000,0.000000,0.520000,6.224500,76.600000,3.495200,5.000000,311.000000,18.600000,391.240000,10.515000,21.700000
75%,2.256870,20.000000,18.100000,0.000000,0.624000,6.636750,94.325000,5.400800,8.000000,437.000000,20.200000,396.060000,16.672500,26.600000
max,88.976200,100.000000,25.650000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,666.000000,22.000000,396.900000,37.970000,50.000000

In [4]:
data.iloc[0:10,0:3]

      crim    zn  indus
0  0.00632  18.0   2.31
1  0.02731   0.0   7.07
2  0.02729   0.0   7.07
3  0.03237   0.0   2.18
4  0.06905   0.0   2.18
5  0.02985   0.0   2.18
6  0.08829  12.5   7.87
7  0.14455  12.5   7.87
8  0.21124  12.5   7.87
9  0.17004  12.5   7.87

In [5]:
data

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,5.44114,0.0,18.10,0,0.713,6.655,98.2,2.3552,24,666,20.2,355.29,17.73,15.2
452,5.09017,0.0,18.10,0,0.713,6.297,91.8,2.3682,24,666,20.2,385.09,17.27,16.1
453,8.24809,0.0,18.10,0,0.713,7.393,99.3,2.4527,24,666,20.2,375.87,16.74,17.8
454,9.51363,0.0,18.10,0,0.713,6.728,94.1,2.4961,24,666,20.2,6.68,18.71,14.9
455,4.75237,0.0,18.10,0,0.713,6.525,86.5,2.4358,24,666,20.2,50.92,18.13,14.1

In [6]:
import matplotlib.pyplot as plt
data.loc[0:10,["lstat", "medv"]].plot.bar()

In [8]:
data.loc[:,[“medv”]].plot.hist()

SyntaxError: invalid character in identifier (<ipython-input-8-f856a8774de4>, line 1)

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
minMaxScaler = MinMaxScaler()
scaledData = minMaxScaler.fit_transform(data.iloc[:,:])

scaledData = pd.DataFrame(scaledData, columns=data.columns)

In [15]:
scaledData

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.000000,0.18,0.073442,0.0,0.314815,0.577505,0.641607,0.269203,0.000000,0.227557,0.287234,1.000000,0.089680,0.422222
1,0.000236,0.00,0.262406,0.0,0.172840,0.547998,0.782698,0.348962,0.043478,0.114823,0.553191,1.000000,0.204470,0.368889
2,0.000236,0.00,0.262406,0.0,0.172840,0.694386,0.599382,0.348962,0.043478,0.114823,0.553191,0.989737,0.063466,0.660000
3,0.000293,0.00,0.068281,0.0,0.150206,0.658555,0.441813,0.448545,0.086957,0.073069,0.648936,0.994276,0.033389,0.631111
4,0.000705,0.00,0.068281,0.0,0.150206,0.687105,0.528321,0.448545,0.086957,0.073069,0.648936,1.000000,0.099338,0.693333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,0.061086,0.00,0.700278,0.0,0.674897,0.592834,0.981462,0.111450,1.000000,1.000000,0.808511,0.895078,0.441501,0.226667
452,0.057141,0.00,0.700278,0.0,0.674897,0.524238,0.915551,0.112632,1.000000,1.000000,0.808511,0.970220,0.428808,0.246667
453,0.092636,0.00,0.700278,0.0,0.674897,0.734240,0.992791,0.120316,1.000000,1.000000,0.808511,0.946972,0.414183,0.284444
454,0.106860,0.00,0.700278,0.0,0.674897,0.606821,0.939238,0.124262,1.000000,1.000000,0.808511,0.016037,0.468543,0.220000
455,0.053344,0.00,0.700278,0.0,0.674897,0.567925,0.860968,0.118779,1.000000,1.000000,0.808511,0.127591,0.452539,0.202222

In [16]:
from sklearn.preprocessing import StandardScaler

In [19]:
incomedata = pd.read_csv("csvData/income data.csv")
Ohe = OneHotEncoder(categories="auto")

eucationData = incomedata.loc[:,[“Education”]]
encodeEdudata = ohe.fit_transform(educationData).toarray()

pd.DataFrame(pd.concat([educationData,pd.DataFrame(encodedEduData)))],axis=1))

SyntaxError: invalid character in identifier (<ipython-input-19-cf113ebb836a>, line 4)